<!DOCTYPE html>
<html lang="en">
<head>
    @using Telerik.Web.Mvc.UI;
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @(Html.Telerik().StyleSheetRegistrar()
                      .DefaultGroup(group => group                         
                          .Add("telerik.common.min.css")
                          .Add("telerik.vista.min.css")
                          .Add("telerik.rtl.min.css")
                          .Combined(true)
                          .Compress(true))
                     )
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Paging", "Paging", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        @(Html.Telerik().ScriptRegistrar()
                     .DefaultGroup(group => group
                         .Add("telerik.common.min.js")
                         .Add("telerik.textbox.min.js")
                         .Add("telerik.calendar.min.js")
                         .Add("telerik.datepicker.min.js")
                         .Add("telerik.grid.min.js")
                         .Add("telerik.tabstrip.min.js")
                         .Add("telerik.panelbar.min.js")
                         .Add("telerik.list.min.js")
                         .Add("telerik.combobox.min.js")
                         .Add("telerik.menu.min.js")
                         .Compress(true))
            )
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
